/*Tipografía = KARLA*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
}
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(#373549, rgb(35, 51, 65));
  height: 60px;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: lighter;
}
.BotonCarrito{
  border: none;
  width: 70px;
  background-image: linear-gradient(#373549, rgb(35, 51, 65));
}
.BotonCarrito:hover{
  background-image: linear-gradient(#5b586e, rgb(54, 71, 87));
}
.carrito{
  height: 40px;
}
.carritoContador{
  color: white;
  font-size: 20px;
  background-color: #5c5a6d;
  border-radius: 5px;
}
.ContenedorCarrito{
  text-align: center;
  width: 100%;
  margin: 50px 0px 40px 0px;
}
.CarritoTotal{
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0px 15px 0px;
}
.Link{
  text-decoration: none;
  color: white;
}
.LinkNavBar{
  text-decoration: none;
  color: white
}
.LinkNavBar:hover{
  color: rgb(41, 223, 255);
}
h1{
  text-align: center;
}
.Productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: 50px 0px 50px 0px;
}
.Imagen{
  width: 50%;
  height: 220px;
}
.ImagenDetalle{
  border: grey 3px solid;
  border-radius: 10px;
}
.ContenedorDetalle{
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(217, 246, 255);
}
.Detalle{
  padding: 20px 0px 20px 0px;
}
.ContenedorProductos{
  text-align: center;
  width: 350px;
  height: 100%;
  margin-top: 50px;
  background-color: rgb(248, 248, 248);
}
.ContenedorBotonesNegPos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.BotonNegativo{
  width: 25px;
  height: 25px;
  color: white;
  background-color: rgb(41, 66, 83);
}
.BotonNegativo:hover{
  color: rgb(41, 66, 83);
  background-color: white;  
}
.BotonPositivo{
  width: 25px;
  height: 25px;
  color: white;
  background-color: rgb(41, 66, 83);
}
.BotonPositivo:hover{
  color: rgb(41, 66, 83);
  background-color: white;  
}
.BotonAgregar{
  border-radius: 15px;
  width: 150px;
  height: 25px;
  color: white;
  background-color: rgb(41, 66, 83);
}
.BotonAgregar:hover{
  color: rgb(41, 66, 83);
  background-color: white;
}
.BotonDetalle{
  width: 200px;
  height: 25px;
  color: white;
  background-color: rgb(105, 115, 122);
}
.BotonDetalle:hover{
  color: rgb(41, 66, 83);
  background-color: rgb(134, 145, 153);
}
.BotonVerCarrito{
  border-radius: 15px;
  width: 150px;
  height: 25px;
  color: white;
  background-color: rgb(41, 66, 83);
}
.BotonVerCarrito:hover{
  color: rgb(41, 66, 83);
  background-color: rgb(78, 102, 119);  
}
.BotonVerProductos{
  width: 250px;
  height: 30px;
  color: white;
  background-color: rgb(105, 115, 122);
}
.BotonFinCompra{
  width: 250px;
  height: 30px;
  color: white;
  background-color: rgb(105, 115, 122);
}
.BotonCarritoVaciar{
  width: 250px;
  height: 30px;
  color: white;
  background-color: rgb(105, 115, 122);
}
.ContenedorCompra{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
  width: 50%;
  border-top: 1px solid black;
  padding: 10px 0px 10px 0px;
}
.ProductoEnCarrito{
  width: 50px;
  height: auto;
}
.ContenedorFormulario{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  height: 300px;
  justify-content: space-evenly;
  width: 30%;
}
.ContenedorFormulario--citys{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 5px 0px 5px 0px;
}
.ContenedorFormulario input{
  height: 30px;
  border: 2px solid rgb(43, 43, 48)
}
.ContenedorFormulario button{
  height: 50px;
  width: 25%;
  color: white;
  align-self:flex-end;
  font-size: 15px;
  background-color: rgb(37, 131, 37);
}
.ContenedorFormularioFin{
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
.CompraRealizada{
  color: green;
  font-size: 20px;
}
/*CARGA*/
.Carga{
  margin:auto;
	display:block;
  width: 50px;
  height: 50px;
  margin-top: 300px;
  margin-bottom: 300px;
  animation-name: rotacion;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
/*ANIMACION CARGA*/
@keyframes rotacion{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}
/*FOOTER*/
.Footer{
  text-align: center;
  padding: 50px 0px 50px 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(35, 51, 65), #373549);
  border-top: black 5px solid;
}
h3{
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.BotonLinkGit{
  height: 25px;
  width: 60px;
  border-radius: 20px;
  border: none;
  background-color: rgb(139, 154, 158);
}
.BotonLinkGit:hover{
  background-color: rgb(73, 82, 85);
}
.GitHub{
  text-decoration: none;
  color: white
}
