*{
  margin: 0;
  padding: 0;
}
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(#3d3d3d, rgb(41, 50, 59));
  height: 60px;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
ul li:hover{
  color: rgb(41, 223, 255);
}
h1{
  text-align: center;
}
.carrito{
  height: 50px;
  border: white 1px solid;
  border-radius: 20px;
}
.Productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
  margin-top: 50px;
}
.ContenedorDetalle{
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(217, 246, 255);
}
.Detalle{
  padding: 20px 0px 20px 0px;
}
.ContenedorProductos{
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: rgb(248, 248, 248);
}
.ContenedorBotonesNegPos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.BotonNegativo{
  width: 25px;
  height: 25px;
  background-color: rgb(255, 170, 170);
}
.BotonPositivo{
  width: 25px;
  height: 25px;
  background-color: rgb(170, 255, 198);
}
.BotonAgregar{
  border-radius: 15px;
  width: 80px;
  height: 25px;
  background-color: greenyellow;
}